body {
  background-image: url("../images/background_galaxy.jpg");
  background-size: 100% auto;
}


#main-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  clear: both;
  /* opacity: 0.4; */
}

.navbar {
  background-color: black !important;
  /* border: 1px solid rgb(36, 150, 216);
  border-bottom-width: 2px; */
  margin-bottom: 20px;
  padding: 0px;
}


#navmaster {
  position: relative;

  top: 0px;     
  left: 0px;
  border: 3px solid #73AD21;

}



/* .card-img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
} */

/* .auth-image {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
} */

/* .nav-item-white {
background-color: white;
color: black;
} */

/* .nav-item-black {
  background-color: black;
  color: white;
  } */




  /*************/
/*contact page*/
#form-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: black;
  /* opacity: 0.9; */
  padding: 30px;
}

#formDEEP {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  clear: both;
 
}

.form-group {
  color: rgb(36, 150, 216);
  font-weight: bolder;
}

#contactSubmit {
  background-color: rgb(36, 150, 216);
}

/* portfolio page */

.project {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.project:nth-child(even) {
  margin-right: 40px;
}

.project img {
  width: 100%;
  border: 0 none;

}

.project h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  border-bottom: 0;
}

.main-section h1{
  font-weight: bolder;
  color: rgb(36, 150, 216);
}

/*About Me*/
#main-container {
  min-height: calc(100vh - 70px);
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: black;
  border: 1px solid #dddddd;
  color: rgb(36, 150, 216);
  /* opacity: 0.9; */
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  opacity: 1.0 !important;
}